<section class="catalog" id="catalog">
  <div class="catalog_container container">
    <div class="catalog_header">
      <h2 class="underline-small">Каталог</h2>

      <div class="catalog_header-btns">
        <button
          type="button"
          class="btn btn-dark js_catalog-btn js_catalog_main-daily--btn js_active"
        >
          повседневные портупеи
        </button>

        <button
          type="button"
          class="btn btn-dark js_catalog-btn js_catalog_main-erotic--btn"
        >
          Эротические портупеи
        </button>
      </div>
    </div>

    <div class="catalog_main js_catalog_main">
      <div class="catalog_main-daily js_catalog_main-daily">
        <div class="catalog_card js_catalog_card">
          <div class="catalog_card-header">
            <img
              data-src="./images/catalog/img_1.jpg"
              alt="Girl"
              class="lazy js_catalog_card-img"
              data-object-fit="cover"
            />

            <p>-53%</p>
          </div>
          <div class="catalog_card-main">
            <h6 class="js_catalog_card-title">Портупея “Влади”</h6>

            <ul class="catalog_card-sizes js_catalog_card-sizes">
              <li>XS</li>
              <li>S</li>
              <li>M</li>
              <li>L</li>
              <li class="js_Unavailable">XL</li>
              <li class="js_Unavailable">XXL</li>
            </ul>

            <ul class="catalog_card-colors js_catalog_card-colors">
              <li class="js_card-color--black"></li>
              <li class="js_card-color--red"></li>
            </ul>

            <div class="catalog_card-costs js_catalog_card-costs">
              <p><strike>4990 р.</strike> <strong>2994 р.</strong></p>
            </div>

            <button type="button" class="btn btn-fill js_card-order">
              Заказать
            </button>
          </div>
        </div>
        <div class="catalog_card js_catalog_card">
          <div class="catalog_card-header">
            <img
              data-src="./images/catalog/img_2.jpg"
              alt="Girl"
              class="lazy js_catalog_card-img"
              data-object-fit="cover"
            />

            <p>-53%</p>
          </div>
          <div class="catalog_card-main">
            <h6 class="js_catalog_card-title">Портупея “Пеппи”</h6>

            <ul class="catalog_card-sizes js_catalog_card-sizes">
              <li>XS</li>
              <li>S</li>
              <li>M</li>
              <li>L</li>
              <li>XL</li>
              <li>XXL</li>
            </ul>

            <ul class="catalog_card-colors js_catalog_card-colors">
              <li class="js_card-color--black"></li>
              <!-- <li class="js_card-color--red"></li> -->
            </ul>

            <div class="catalog_card-costs js_catalog_card-costs">
              <p><strike>4990 р.</strike> <strong>2995 р.</strong></p>
            </div>

            <button type="button" class="btn btn-fill js_card-order">
              Заказать
            </button>
          </div>
        </div>
        <div class="catalog_card js_catalog_card">
          <div class="catalog_card-header">
            <img
              data-src="./images/catalog/img_1.jpg"
              alt="Girl"
              class="lazy js_catalog_card-img"
              data-object-fit="cover"
            />

            <p>-53%</p>
          </div>
          <div class="catalog_card-main">
            <h6 class="js_catalog_card-title">Портупея “Влади”</h6>

            <ul class="catalog_card-sizes js_catalog_card-sizes">
              <li>XS</li>
              <li>S</li>
              <li>M</li>
              <li>L</li>
              <li class="js_Unavailable">XL</li>
              <li class="js_Unavailable">XXL</li>
            </ul>

            <ul class="catalog_card-colors js_catalog_card-colors">
              <li class="js_card-color--black"></li>
              <li class="js_card-color--red"></li>
            </ul>

            <div class="catalog_card-costs js_catalog_card-costs">
              <p><strike>4990 р.</strike> <strong>2996 р.</strong></p>
            </div>

            <button type="button" class="btn btn-fill js_card-order">
              Заказать
            </button>
          </div>
        </div>
        <div class="catalog_card js_catalog_card">
          <div class="catalog_card-header">
            <img
              data-src="./images/catalog/img_2.jpg"
              alt="Girl"
              class="lazy js_catalog_card-img"
              data-object-fit="cover"
            />

            <p>-53%</p>
          </div>
          <div class="catalog_card-main">
            <h6 class="js_catalog_card-title">Портупея “Влади”</h6>

            <ul class="catalog_card-sizes js_catalog_card-sizes">
              <li>XS</li>
              <li>S</li>
              <li>M</li>
              <li>L</li>
              <li>XL</li>
              <li>XXL</li>
            </ul>

            <ul class="catalog_card-colors js_catalog_card-colors">
              <li class="js_card-color--black"></li>
              <!-- <li class="js_card-color--red"></li> -->
            </ul>

            <div class="catalog_card-costs js_catalog_card-costs">
              <p><strike>4990 р.</strike> <strong>2997 р.</strong></p>
            </div>

            <button type="button" class="btn btn-fill js_card-order">
              Заказать
            </button>
          </div>
        </div>
        <div class="catalog_card js_catalog_card">
          <div class="catalog_card-header">
            <img
              data-src="./images/catalog/img_1.jpg"
              alt="Girl"
              class="lazy js_catalog_card-img"
              data-object-fit="cover"
            />

            <p>-53%</p>
          </div>
          <div class="catalog_card-main">
            <h6 class="js_catalog_card-title">Портупея “Пеппи”</h6>

            <ul class="catalog_card-sizes js_catalog_card-sizes">
              <li>XS</li>
              <li>S</li>
              <li>M</li>
              <li>L</li>
              <li class="js_Unavailable">XL</li>
              <li class="js_Unavailable">XXL</li>
            </ul>

            <ul class="catalog_card-colors js_catalog_card-colors">
              <li class="js_card-color--black"></li>
              <li class="js_card-color--red"></li>
            </ul>

            <div class="catalog_card-costs js_catalog_card-costs">
              <p><strike>4990 р.</strike> <strong>2998 р.</strong></p>
            </div>

            <button type="button" class="btn btn-fill js_card-order">
              Заказать
            </button>
          </div>
        </div>
        <div class="catalog_card js_catalog_card">
          <div class="catalog_card-header">
            <img
              data-src="./images/catalog/img_2.jpg"
              alt="Girl"
              class="lazy js_catalog_card-img"
              data-object-fit="cover"
            />

            <p>-53%</p>
          </div>
          <div class="catalog_card-main">
            <h6 class="js_catalog_card-title">Портупея “Влади”</h6>

            <ul class="catalog_card-sizes js_catalog_card-sizes">
              <li>XS</li>
              <li>S</li>
              <li>M</li>
              <li>L</li>
              <li>XL</li>
              <li>XXL</li>
            </ul>

            <ul class="catalog_card-colors js_catalog_card-colors">
              <li class="js_card-color--black"></li>
              <!-- <li class="js_card-color--red"></li> -->
            </ul>

            <div class="catalog_card-costs js_catalog_card-costs">
              <p><strike>4990 р.</strike> <strong>2999 р.</strong></p>
            </div>

            <button type="button" class="btn btn-fill js_card-order">
              Заказать
            </button>
          </div>
        </div>
      </div>
      <div class="catalog_main-erotic js_catalog_main-erotic js_hidden">
        <div class="catalog_card js_catalog_card">
          <div class="catalog_card-header">
            <img
              data-src="./images/catalog/img_2.jpg"
              alt="Girl"
              class="lazy js_catalog_card-img"
              data-object-fit="cover"
            />

            <p>-53%</p>
          </div>
          <div class="catalog_card-main js_catalog_card-main">
            <h6 class="js_catalog_card-title">Портупея “Влади”</h6>

            <ul class="catalog_card-sizes js_catalog_card-sizes">
              <li>XS</li>
              <li>S</li>
              <li>M</li>
              <li>L</li>
              <li>XL</li>
              <li>XXL</li>
            </ul>

            <ul class="catalog_card-colors js_catalog_card-colors">
              <li class="js_card-color--black"></li>
              <!-- <li class="js_card-color--red"></li> -->
            </ul>

            <div class="catalog_card-costs js_catalog_card-costs">
              <p><strike>4990 р.</strike> <strong>2991 р.</strong></p>
            </div>

            <button type="button" class="btn btn-fill js_card-order">
              Заказать
            </button>
          </div>
        </div>
        <div class="catalog_card js_catalog_card">
          <div class="catalog_card-header">
            <img
              data-src="./images/catalog/img_1.jpg"
              alt="Girl"
              class="lazy js_catalog_card-img"
              data-object-fit="cover"
            />

            <p>-53%</p>
          </div>
          <div class="catalog_card-main">
            <h6 class="js_catalog_card-title">Портупея “Пеппи”</h6>

            <ul class="catalog_card-sizes js_catalog_card-sizes">
              <li>XS</li>
              <li>S</li>
              <li>M</li>
              <li>L</li>
              <li class="js_Unavailable">XL</li>
              <li class="js_Unavailable">XXL</li>
            </ul>

            <ul class="catalog_card-colors js_catalog_card-colors">
              <li class="js_card-color--black"></li>
              <li class="js_card-color--red"></li>
            </ul>

            <div class="catalog_card-costs js_catalog_card-costs">
              <p><strike>4990 р.</strike> <strong>2992 р.</strong></p>
            </div>

            <button type="button" class="btn btn-fill js_card-order">
              Заказать
            </button>
          </div>
        </div>
        <div class="catalog_card js_catalog_card">
          <div class="catalog_card-header">
            <img
              data-src="./images/catalog/img_2.jpg"
              alt="Girl"
              class="lazy js_catalog_card-img"
              data-object-fit="cover"
            />

            <p>-53%</p>
          </div>
          <div class="catalog_card-main">
            <h6 class="js_catalog_card-title">Портупея “Влади”</h6>

            <ul class="catalog_card-sizes js_catalog_card-sizes">
              <li>XS</li>
              <li>S</li>
              <li>M</li>
              <li>L</li>
              <li>XL</li>
              <li>XXL</li>
            </ul>

            <ul class="catalog_card-colors js_catalog_card-colors">
              <li class="js_card-color--black"></li>
              <!-- <li class="js_card-color--red"></li> -->
            </ul>

            <div class="catalog_card-costs js_catalog_card-costs">
              <p><strike>4990 р.</strike> <strong>2993 р.</strong></p>
            </div>

            <button type="button" class="btn btn-fill js_card-order">
              Заказать
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
