<section class="entry">
  <div class="entry_container container">
    <div class="entry_header">
      <h4>Женские кожаные портупеи</h4>
      <h1>Dr.Harness</h1>

      <hr />
    </div>

    <div class="entry_main">
      <p>Любая модель со скидкой 50%</p>

      <p class="text-size--big">
        всего за
        <span> 2990р. </span>
      </p>
    </div>

    <div class="entry_footer">
      <a
        href="#catalog"
        class="btn js_catalog-btn js_catalog_main-daily--btn js_scroll"
      >
        повседневные портупеи
      </a>

      <a
        href="#catalog"
        class="btn js_catalog-btn js_catalog_main-erotic--btn js_scroll"
      >
        Эротические портупеи
      </a>
    </div>
  </div>
</section>
