<section class="hit">
  <div class="hit_container">
    <div class="hit_header container">
      <h2 class="underline-small">Хит №1 в мире – модные жеские портупеи</h2>
    </div>
    <div class="hit_main">
      <p>
        Как и все кожаные аксессуары, портупея находится сегодня на пике
        востребованности в мире моды, даря своей обладательнице внимание и
        уверенность в себе.
      </p>

      <p>
        Многообразие видов портупей - это как Характер каждой девушки: от
        портупеи из тонких ремешком для романтичных и женственных натур, до
        сложных сплетений из средних и широких - для дерзких и раскрепощенных.
      </p>
    </div>
    <div class="hit_footer">
      <img data-src="./images/hit/img_1.jpg" alt="Image" class="lazy" data-object-fit="cover" />
      <img data-src="./images/hit/img_2.jpg" alt="Image" class="lazy" data-object-fit="cover" />
      <img data-src="./images/hit/img_3.jpg" alt="Image" class="lazy" data-object-fit="cover" />
      <img data-src="./images/hit/img_4.jpg" alt="Image" class="lazy" data-object-fit="cover" />
      <img data-src="./images/hit/img_5.jpg" alt="Image" class="lazy" data-object-fit="cover" />
      <img data-src="./images/hit/img_6.jpg" alt="Image" class="lazy" data-object-fit="cover" />
      <img data-src="./images/hit/img_7.jpg" alt="Image" class="lazy" data-object-fit="cover" />
    </div>
  </div>
</section>
