

  <section class="order" id="order">
    <div class="order_container container">
      <div class="order_header">
        <h2 class="underline-small">КАК заказать?</h2>
      </div>

      <div class="order_main">
        <div class="order_step">
          <picture>
            <img src="./images/svg/newspaper.svg" alt="newspaper" />
          </picture>

          <p>Вы оформляете заказ на нашем сайте</p>
        </div>
        <div class="order_step">
          <picture>
            <img src="./images/svg/telemarketer.svg" alt="telemarketer" />
          </picture>

          <p>Менеджр перезвонит для уточнения деталей заказа</p>
        </div>
        <div class="order_step">
          <picture>
            <img src="./images/svg/package.svg" alt="package" />
          </picture>

          <p>В блежайшее время отправляем ваш заказ</p>
        </div>
        <div class="order_step">
          <picture>
            <img src="./images/svg/card.svg" alt="Card" />
          </picture>

          <p>Вы оплачиваете заказ при получении</p>
        </div>
      </div>
    </div>
  </section>