<div class="popup" id="popup" style="display: none">
  <div class="popup_container">
    <div class="popup_media">
      <img src="" alt="Image" data-object-fit="cover" class="js_popup_media-img"/>
    </div>
    <div class="popup_content">
      <h6 class="js_popup-title">Портупея “Джони Миллер”</h6>

      <div class="popup_content-cost js_popup-cost">
        <p><strike>4990 р.</strike> <strong>2990 р.</strong></p>
      </div>

      <ul class="popup_content-size js_popup-size">
        <li>XS</li>
      </ul>

      <form action="" class="popup_content-form js_popup-form">
        <div class="form-group">
          <label for="#form_name"></label>
          <input
            type="text"
            class="form-control"
            name="form_name"
            id="form_name"
            autocomplete="off"
            placeholder="Введите ваше ФИО"
          />
        </div>
        <div class="form-group">
          <label for="#form_tel"></label>
          <input
            type="tel"
            class="form-control"
            name="form_tel"
            id="form_tel"
            data-mask="8(999) 999 9999"
            autocomplete="off"
            placeholder="Введите ваш телефон"
          />
        </div>

        <button type="button" class="btn btn-fill">Оформить заказ</button>
      </form>
    </div>
  </div>
</div>
