html, body, head, title, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus { outline: 0 !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration { -webkit-appearance: none; -moz-appearance: none; }

input[type="search"] { -webkit-appearance: none; -moz-appearance: none; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/** Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; max-width: 100%; }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address styling not present in IE 7/8/9, Firefox 3, and Safari 4. Known issue: no IE 6 support. */
[hidden] { display: none; }

/** 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using `em` units. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-size: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }

/** Address `outline` inconsistency between Chrome and other browsers. */
a:focus { outline: thin dotted; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/** 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3. 2. Improve image quality when scaled in IE 7. */
img { border: 0; /* 1 */ width: 100%; max-width: 100%; -ms-interpolation-mode: bicubic; /* 2 */ object-fit: cover; }

/** Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11. */
figure { margin: 0; }

/** Correct margin displayed oddly in IE 6/7. */
form { margin: 0; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct color not being inherited in IE 6/7/8/9. 2. Correct text not wrapping in Firefox 3. 3. Correct alignment displayed oddly in IE 6/7. */
legend { border: 0; /* 1 */ padding: 0; white-space: normal; /* 2 */ *margin-left: -7px; /* 3 */ }

/** 1. Correct font size not being inherited in all browsers. 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5, and Chrome. 3. Improve appearance and consistency in all browsers. */
button, input, select, textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ *vertical-align: middle; /* 3 */ }

/** Address Firefox 3+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
button, input { line-height: normal; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+. Correct `select` style inheritance in Firefox 4+ and Opera. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. 4. Remove inner spacing in IE 7 without affecting normal text inputs. Known issue: inner spacing remains in IE 6. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ *overflow: visible; /* 4 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

input[type="password"]::-ms-reveal { color: #8b1a1a !important; }

/** 1. Address box sizing set to content-box in IE 8/9. 2. Remove excess padding in IE 8/9. 3. Remove excess padding in IE 7. Known issue: excess padding remains in IE 6. */
input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ *height: 13px; /* 3 */ *width: 13px; /* 3 */ }

/** 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Remove inner padding and border in Firefox 3+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** 1. Remove default vertical scrollbar in IE 6/7/8/9. 2. Improve readability and alignment in all browsers. */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

html, button, input, select, textarea { color: #222; }

::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

img { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

input::-webkit-input-placeholder { overflow: visible; }

input::-moz-placeholder { overflow: visible; }

input:-ms-input-placeholder { overflow: visible; }

input::-ms-input-placeholder { overflow: visible; }

input:-moz-placeholder { overflow: visible; }

input::placeholder { overflow: visible; }

input[type="submit"], input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none !important; }

input[type="number"] { -moz-appearance: textfield !important; }

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none !important; }

* { -webkit-tap-highlight-color: transparent !important; }

a { text-decoration: none; }

.container { position: relative; width: 100%; margin-left: auto; margin-right: auto; max-width: 940px; }

/* purgecss start ignore */
.wrapper-page { display: flex; flex-direction: column; }

.wrapper-page > * { width: 100%; }

.wrapper-page .main-page { flex: 1 0 auto; }

body { font-family: "Open Sans", sans-serif !important; overflow-x: hidden; }

.header { background-color: #fff; padding-top: 8px; padding-bottom: 8px; }

@media screen and (min-width: 640px) { .header { padding-top: 10px; padding-bottom: 10px; } }

.header_container { display: flex; flex-direction: row; justify-content: space-between; align-items: center; }

.header_logo { margin-left: auto; margin-right: auto; width: 156px; height: 32px; }

.header_logo img { height: 100%; }

@media screen and (min-width: 640px) { .header_logo { width: 250px; height: 48px; } }

@media screen and (min-width: 960px) { .header_logo { margin-left: 0; margin-right: 0; } }

.header_nav { display: none; }

@media screen and (min-width: 960px) { .header_nav { display: flex; flex-direction: row; }
  .header_nav li { margin-left: 28px; }
  .header_nav li:first-of-type { margin-left: 0; }
  .header_nav a { font-size: 16px; line-height: 1.4; color: #1e1e1e; position: relative; overflow: hidden; display: block; }
  .header_nav a:before { content: ""; position: absolute; left: -100%; bottom: 0; width: 100%; height: 1px; transition: 0.4s ease; background-color: #cc0e07; }
  .header_nav a:hover:before { left: 0; } }

.entry { overflow: hidden; position: relative; background-color: black; }

.entry:after, .entry:before { content: ""; position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; z-index: 5; height: 100%; }

.entry:after { background: url(../../images/bg-m.png) 50% 10% no-repeat; }

.entry:before { background: url(../../images/entry/bg-m.png) 50% 0% no-repeat; opacity: 0.55; }

@media (min-width: 640px) { .entry:after { background: url(../../images/bg.png) 50% 10% no-repeat; }
  .entry:before { background: url(../../images/entry/bg.png) 50% 0% no-repeat; } }

.entry_container { display: flex; flex-direction: column; align-items: center; text-align: center; position: relative; z-index: 10; padding-top: 40px; padding-bottom: 40px; }

@media (min-width: 640px) { .entry_container { padding-top: 90px; }
  .entry_container:before, .entry_container:after { content: ""; position: absolute; height: 100%; bottom: 0; width: 50%; }
  .entry_container:before { background: url(../../images/entry/girl_1.png) center left no-repeat; left: -65px; }
  .entry_container:after { background: url(../../images/entry/girl_2.png) center right no-repeat; right: -55px; } }

@media (min-width: 960px) { .entry_container { padding-bottom: 125px; }
  .entry_container:before, .entry_container:after { bottom: -45px; }
  .entry_container:before { left: 0; }
  .entry_container:after { right: 0; } }

.entry_header { margin-bottom: 25px; }

@media (min-width: 640px) { .entry_header { margin-bottom: 35px; } }

@media (min-width: 960px) { .entry_header { margin-bottom: 44px; } }

.entry_header h4 { color: #fff; font-weight: 300; font-size: 18px; }

@media (min-width: 640px) { .entry_header h4 { font-size: 28px; margin-bottom: 10px; } }

@media (min-width: 960px) { .entry_header h4 { font-size: 34px; margin-bottom: 15px; } }

.entry_header h1 { color: #fff; font-weight: bold; line-height: 1; font-size: 48px; margin-bottom: 20px; }

@media (min-width: 640px) { .entry_header h1 { font-size: 68px; } }

@media (min-width: 960px) { .entry_header h1 { margin-bottom: 28px; font-size: 82px; } }

.entry_header hr { display: block; margin: 0 auto; outline: 0; border: 0; height: 4px; background-color: #fff; width: 100%; }

@media (min-width: 640px) { .entry_header hr { width: 350px; } }

@media (min-width: 960px) { .entry_header hr { width: 460px; } }

.entry_main { margin-bottom: 18px; }

@media (min-width: 640px) { .entry_main { margin-bottom: 24px; } }

@media (min-width: 960px) { .entry_main { margin-bottom: 40px; } }

.entry_main p { color: #fff; text-transform: uppercase; margin-bottom: 14px; }

.entry_main p.text-size--big { font-weight: bold; font-size: 24px; }

.entry_main p.text-size--big span { font-size: 32px; }

@media (min-width: 640px) { .entry_main p.text-size--big { font-size: 30px; }
  .entry_main p.text-size--big span { font-size: 40px; } }

@media (min-width: 960px) { .entry_main p.text-size--big { font-size: 36px; }
  .entry_main p.text-size--big span { font-size: 48px; } }

@media (min-width: 640px) { .entry_main p { margin-bottom: 16px; } }

.entry_footer { display: flex; z-index: 10; position: relative; width: calc(100% - 30px); flex-direction: column; }

.entry_footer .btn { width: 100%; margin-bottom: 15px; margin-left: 0; }

.entry_footer .btn:last-of-type { margin-bottom: 0; }

@media (min-width: 640px) { .entry_footer { width: 460px; flex-direction: row; }
  .entry_footer .btn { width: 220px; font-size: 14px; margin-bottom: 0; margin-left: 20px; }
  .entry_footer .btn:first-of-type { margin-left: 0; } }

@media (min-width: 960px) { .entry_footer { width: 560px; }
  .entry_footer .btn { width: 260px; } }

.hit { padding-top: 40px; }

@media screen and (min-width: 960px) { .hit { padding-top: 50px; } }

.hit_header { margin-bottom: 22px; }

@media screen and (min-width: 960px) { .hit_header { margin-bottom: 26px; } }

.hit_header h2 { width: 100%; color: #1e1e1e; font-weight: bold; text-align: center; text-transform: uppercase; padding-bottom: 16px; font-size: 20px; }

@media screen and (min-width: 640px) { .hit_header h2 { padding-bottom: 18px; font-size: 28px; } }

@media screen and (min-width: 960px) { .hit_header h2 { font-size: 36px; padding-bottom: 22px; } }

.hit_main { margin-left: auto; margin-right: auto; text-align: center; margin-bottom: 25px; width: calc(100% - 30px); }

@media screen and (min-width: 640px) { .hit_main { width: 640px; } }

@media screen and (min-width: 960px) { .hit_main { width: 920px; } }

.hit_main p { color: #1e1e1e; font-size: 14px; line-height: 1.6; margin-bottom: 12px; }

.hit_main p:last-of-type { margin-bottom: 0; }

@media screen and (min-width: 640px) { .hit_main p { margin-bottom: 15px; font-size: 16px; } }

.hit_footer { display: flex; flex-direction: row; flex-wrap: wrap; }

.hit_footer img { width: calc(100vw / 3); height: calc(100vw / 3); object-fit: cover; }

.hit_footer img:first-of-type, .hit_footer img:last-of-type { width: calc(100% / 6); }

.hit_footer img:nth-of-type(1) { order: 1; }

.hit_footer img:nth-of-type(2) { order: 2; }

.hit_footer img:nth-of-type(3) { order: 3; }

.hit_footer img:nth-of-type(4) { order: 5; }

.hit_footer img:nth-of-type(5) { order: 6; }

.hit_footer img:nth-of-type(6) { order: 7; }

.hit_footer img:nth-of-type(7) { order: 4; }

@media screen and (min-width: 640px) { .hit_footer { flex-wrap: nowrap; }
  .hit_footer img { width: calc(100vw / 6); height: calc(100vw / 6); order: 0 !important; }
  .hit_footer img:first-of-type, .hit_footer img:last-of-type { width: calc(100% / 12); } }

.sizes { padding-top: 40px; padding-bottom: 40px; background: url(../../images/bg.png) center 80% no-repeat; }

@media (min-width: 960px) { .sizes { padding-bottom: 50px; } }

.sizes_container { z-index: 10; }

@media (max-width: 960px) { .sizes_container { max-width: 640px; } }

.sizes_header { margin-bottom: 14px; }

.sizes_header h2 { width: 100%; color: #1e1e1e; font-weight: bold; text-align: center; text-transform: uppercase; padding-bottom: 16px; font-size: 20px; }

@media (min-width: 640px) { .sizes_header h2 { padding-bottom: 18px; font-size: 28px; } }

@media (min-width: 960px) { .sizes_header h2 { font-size: 36px; padding-bottom: 22px; } }

.sizes_main { background-color: #fff; box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2); padding-top: 15px; padding-bottom: 15px; }

@media (min-width: 640px) { .sizes_main { padding: 25px; } }

@media (min-width: 960px) { .sizes_main { padding: 30px; } }

.sizes_main table { width: 100%; }

.sizes_main tr { color: #1e1e1e; font-size: 10px; padding: 12px 8px; display: flex; align-items: center; }

@media (min-width: 640px) { .sizes_main tr { padding-left: 25px; padding-top: 14px; padding-bottom: 14px; font-size: 13px; }
  .sizes_main tr:first-of-type td:nth-of-type(2) { width: 25%; text-align: left; } }

@media (min-width: 960px) { .sizes_main tr { padding-top: 16px; padding-bottom: 16px; padding-left: 30px; font-size: 14px; } }

.sizes_main tr td { text-align: center; width: 15%; }

.sizes_main tr td:first-of-type { width: 20%; text-align: left; }

@media (min-width: 640px) { .sizes_main tr td:first-of-type { width: 25%; } }

@media (min-width: 960px) { .sizes_main tr td { width: 102px; } }

.sizes_main tr:nth-of-type(odd) { background-color: #f3f3f3; }

.sizes_main tr:nth-of-type(1), .sizes_main tr:nth-of-type(2), .sizes_main tr:nth-of-type(3) td:first-of-type, .sizes_main tr:nth-of-type(4) td:first-of-type, .sizes_main tr:nth-of-type(5) td:first-of-type { font-weight: bold; }

.catalog { padding-top: 40px; padding-bottom: 40px; }

@media (min-width: 640px) { .catalog { padding-bottom: 60px; } }

@media (min-width: 960px) { .catalog { padding-top: 50px; padding-bottom: 70px; } }

.catalog_header { margin-bottom: 15px; }

@media (min-width: 640px) { .catalog_header { margin-bottom: 20px; } }

@media (min-width: 960px) { .catalog_header { margin-bottom: 30px; } }

.catalog_header h2 { width: 100%; color: #1e1e1e; font-weight: bold; text-align: center; text-transform: uppercase; padding-bottom: 16px; font-size: 20px; margin-bottom: 20px; }

@media (min-width: 640px) { .catalog_header h2 { padding-bottom: 18px; font-size: 28px; margin-bottom: 25px; } }

@media (min-width: 960px) { .catalog_header h2 { font-size: 36px; margin-bottom: 30px; padding-bottom: 22px; } }

.catalog_header-btns { display: flex; width: 100%; flex-direction: column; }

@media (min-width: 640px) { .catalog_header-btns { width: 440px; flex-direction: row; margin-left: auto; margin-right: auto; } }

@media (min-width: 960px) { .catalog_header-btns { width: 620px; } }

.catalog_main-daily, .catalog_main-erotic { display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap; padding-left: 15px; padding-right: 15px; }

@media (min-width: 640px) { .catalog_main-daily, .catalog_main-erotic { padding-left: 20px; padding-right: 20px; } }

@media (min-width: 960px) { .catalog_main-daily, .catalog_main-erotic { padding-left: 0; padding-right: 0; } }

.catalog .catalog_card { width: 100%; margin-bottom: 15px; }

@media (min-width: 640px) { .catalog .catalog_card { width: calc(50% - 10px); } }

@media (min-width: 960px) { .catalog .catalog_card { width: 300px; margin-bottom: 20px; } }

.catalog .catalog_card-header { position: relative; }

.catalog .catalog_card-header img { object-position: top; height: 290px; }

@media (min-width: 640px) { .catalog .catalog_card-header img { height: 350px; } }

.catalog .catalog_card-header p { width: 61px; height: 61px; display: block; position: absolute; top: 10px; left: 10px; border-radius: 50%; text-align: center; line-height: 61px; font-weight: bold; color: #e6e6e6; font-size: 20px; z-index: 5; background-color: #ba0152; }

.catalog .catalog_card-main { padding: 17px 20px 25px; border: 2px solid #d7d6dc; border-top: 0; box-sizing: border-box; }

.catalog .catalog_card-main h6 { color: #1e1e1e; font-weight: bold; text-align: center; margin-bottom: 20px; font-size: 18px; }

.catalog .catalog_card-sizes { margin-bottom: 15px; display: flex; flex-direction: row; justify-content: center; align-items: center; }

.catalog .catalog_card-sizes li { font-size: 18px; color: #ceced3; padding: 6px 11px; cursor: pointer; border-radius: 3px; color: #1e1e1e; border: 1px solid transparent; transition: 0.4s ease; }

.catalog .catalog_card-sizes li.js_Unavailable { color: #ceced3; }

.catalog .catalog_card-sizes li:hover, .catalog .catalog_card-sizes li.js_active { border: 1px solid #ba0152; }

.catalog .catalog_card-colors { margin-bottom: 20px; display: flex; flex-direction: row; justify-content: center; align-items: center; }

.catalog .catalog_card-colors li { margin-left: 10px; width: 31px; height: 31px; border-radius: 50%; box-sizing: border-box; transition: 0.4s ease; border: 2px solid #d7d6dc; cursor: pointer; background-color: #ff0000; }

.catalog .catalog_card-colors li:first-of-type { margin-left: 0; background-color: #1e1e1e; }

.catalog .catalog_card-colors li:hover, .catalog .catalog_card-colors li.js_active { border-color: #ba0152; }

.catalog .catalog_card-costs { margin-bottom: 10px; }

.catalog .catalog_card-costs p { display: flex; flex-direction: row; align-items: center; }

.catalog .catalog_card-costs strike { color: #8c8c8c; font-size: 24px; margin-right: 22px; width: 50%; text-align: right; }

.catalog .catalog_card-costs strong { color: #b4014e; font-weight: bold; width: 50%; font-size: 30px; }

.order { background-color: #F7F2F4; padding-top: 40px; padding-bottom: 40px; }

@media (min-width: 640px) { .order { padding-top: 60px; padding-bottom: 90px; } }

@media (min-width: 960px) { .order { padding-top: 80px; padding-bottom: 120px; } }

.order_header { margin-bottom: 20px; }

@media (min-width: 640px) { .order_header { margin-bottom: 26px; } }

@media (min-width: 960px) { .order_header { margin-bottom: 32px; } }

.order_header h2 { color: #1e1e1e; font-weight: bold; text-align: center; text-transform: uppercase; width: 100%; font-size: 28px; padding-bottom: 16px; }

@media (min-width: 640px) { .order_header h2 { font-size: 42px; padding-bottom: 25px; } }

@media (min-width: 960px) { .order_header h2 { font-size: 60px; padding-bottom: 28px; } }

.order_main { display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap; }

@media (min-width: 640px) { .order_main { flex-wrap: unset; } }

.order_main .order_step { width: 50%; margin-bottom: 20px; }

@media (min-width: 640px) { .order_main .order_step { width: 25%; } }

.order_main .order_step picture { border-radius: 50%; border: 4px solid #d579a1; box-sizing: border-box; background-color: #ba0152; display: flex; flex-direction: row; justify-content: center; align-items: center; margin-left: auto; margin-right: auto; margin-bottom: 56px; position: relative; width: 70px; height: 70px; }

.order_main .order_step picture:after { content: ""; position: absolute; bottom: -40px; left: calc(50% - 17px / 2); width: 18px; height: 18px; background: url(../../images/svg/dot.svg) center no-repeat; background-size: cover; }

@media (min-width: 640px) { .order_main .order_step picture { width: 110px; height: 110px; } }

@media (min-width: 960px) { .order_main .order_step picture { width: 130px; height: 130px; } }

.order_main .order_step img { width: 30px; }

@media (min-width: 640px) { .order_main .order_step img { width: 40px; } }

@media (min-width: 960px) { .order_main .order_step img { width: 50px; } }

.order_main .order_step p { line-height: 1.2; color: #1e1e1e; text-align: center; font-size: 12px; width: 155px; margin-left: auto; margin-right: auto; }

@media (min-width: 640px) { .order_main .order_step p { font-size: 14px; width: 100%; } }

@media (min-width: 960px) { .order_main .order_step p { font-size: 16px; } }

.order_main .order_step:first-of-type picture:before { content: ""; position: absolute; bottom: -32px; left: 50%; height: 0px; border: 2px dashed #dedce0; border-bottom: 0; width: 50vw; }

@media (min-width: 640px) { .order_main .order_step:first-of-type picture:before { width: 580px; } }

@media (min-width: 960px) { .order_main .order_step:first-of-type picture:before { width: 708px; } }

.order_main .order_step:nth-of-type(3) picture:before { content: ""; position: absolute; bottom: -32px; left: 50%; height: 0px; border: 2px dashed #dedce0; border-bottom: 0; width: 50vw; }

@media (min-width: 640px) { .order_main .order_step:nth-of-type(3) picture:before { content: none; } }

.btn { margin-left: 20px; display: block; font-weight: 600; font-size: 14px; padding-top: 15px; padding-bottom: 15px; border: 1px solid #fff; width: 260px; text-align: center; color: #fff; text-transform: uppercase; transition: 0.4s ease; font-family: "Open Sans", sans-serif !important; }

.btn:hover { background-color: #ba0152; color: #fff; border-color: #ba0152; }

.btn:first-of-type { margin-left: 0; }

.btn-dark { background-color: #f3f3f3; color: #1e1e1e; width: 100%; font-size: 16px; margin-left: 0; border: 0; }

.btn-dark:active, .btn-dark.js_active { background-color: #ba0152; color: #fff; border-color: #ba0152; }

@media (min-width: 640px) { .btn-dark { font-size: 18px; width: 310px; } }

.btn-fill { padding-top: 15px; padding-bottom: 15px; font-size: 16px; width: 100%; border-radius: 4px; background: #8d54e9; background: -moz-linear-gradient(top, #8d54e9 0%, #7db9e8 100%); background: -webkit-linear-gradient(top, #8d54e9 0%, #7db9e8 100%); background: linear-gradient(to bottom, #8d54e9 0%, #7db9e8 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d54e9', endColorstr='#7db9e8',GradientType=0 ); }

.btn-fill:hover { background: #8d54e9; background: -moz-linear-gradient(left, #8d54e9 0%, #7db9e8 100%); background: -webkit-linear-gradient(left, #8d54e9 0%, #7db9e8 100%); background: linear-gradient(to right, #8d54e9 0%, #7db9e8 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d54e9', endColorstr='#7db9e8',GradientType=1 ); }

@media (min-width: 640px) { .btn-fill { font-size: 18px; } }

@media (min-width: 640px) { .btn { font-size: 16px; padding-bottom: 22px; padding-top: 22px; } }

@media (min-width: 960px) { .btn { padding-top: 26px; padding-bottom: 26px; } }

body::-webkit-scrollbar { width: 12px; }

body::-webkit-scrollbar-track { box-shadow: inset 0 0 4px rgba(186, 1, 82, 0.14); background: #f3f3f3; }

body::-webkit-scrollbar-thumb { background: #ba0152; border-radius: 10px; box-shadow: inset 0 0 4px rgba(186, 1, 82, 0.16); }

.underline-small { position: relative; }

.underline-small:after { content: ""; height: 3px; background-color: #1e1e1e; position: absolute; bottom: 0; width: 60px; left: calc(50% - 30px); }

@media (min-width: 640px) { .underline-small:after { height: 4px; width: 90px; left: calc(50% - 45px); } }

.js_hidden { display: none !important; }

.visible_then-md { display: none; }

@media (max-width: 640px) { .visible_then-md { display: block; } }

.hidden_then-md { display: block; }

@media (max-width: 640px) { .hidden_then-md { display: none; } }

.popup { width: 640px; padding: 0 !important; overflow: hidden !important; }

@media (min-width: 640px) { .popup { height: 350px; } }

.popup_container { display: flex; flex-direction: column; height: 100%; }

@media (min-width: 640px) { .popup_container { flex-direction: row; } }

.popup_media { width: 100%; height: 250px; }

.popup_media img { height: 100%; }

@media (min-width: 640px) { .popup_media { width: 50%; height: 100%; }
  .popup_media img { object-position: top; height: unset; } }

.popup_content { width: 100%; height: 100%; padding: 20px 10px 15px; }

@media (min-width: 640px) { .popup_content { padding: 40px 20px 30px; width: 50%; } }

.popup_content h6 { color: #1e1e1e; font-weight: bold; font-size: 18px; text-align: center; margin-bottom: 15px; }

@media (min-width: 640px) { .popup_content h6 { margin-bottom: 20px; } }

.popup_content-cost { margin-bottom: 15px; }

@media (min-width: 640px) { .popup_content-cost { margin-bottom: 20px; } }

.popup_content-cost p { display: flex; flex-direction: row; align-items: center; }

.popup_content-cost strike { color: #8c8c8c; font-size: 24px; margin-right: 22px; width: 50%; text-align: right; }

.popup_content-cost strong { color: #b4014e; font-weight: bold; width: 50%; font-size: 30px; }

.popup_content-size { margin-bottom: 15px; }

.popup_content-size li { font-size: 18px; color: #1e1e1e; text-align: center; width: 100%; }

.popup_content-form { width: 100%; }

.popup_content-form label { display: none; }

.popup_content-form .form-group { position: relative; }

.popup_content-form input { border: 0; outline: 0; box-shadow: none; font-size: 16px; text-align: center; width: 100%; display: block; padding-top: 8px; padding-bottom: 8px; transition: 0.4s ease; border-bottom: 1px solid #fff; margin-bottom: 15px; color: #1e1e1e; }

.popup_content-form input::placeholder { color: #8c8c8c; }

.popup_content-form input:not(:placeholder-shown), .popup_content-form input:hover, .popup_content-form input:focus { border-bottom: 1px solid #ba0152; }

.fancybox-slide--html .fancybox-close-small { color: #fff; }

@media (min-width: 640px) { .fancybox-slide--html .fancybox-close-small { color: #8c8c8c; }
  .fancybox-slide--html .fancybox-close-small:hover svg { transform: rotate(180deg); transition: 0.4s ease; color: #ba0152; } }

.fancybox-is-open .fancybox-bg { opacity: 0.99 !important; }

/* purgecss end ignore */

/*# sourceMappingURL=site.css.map */
