.entry {
  overflow: hidden;
  position: relative;
  background-color: black;

  &:after,
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    height: 100%;
  }
  &:after {
    background: url(../../images/bg-m.png) 50% 10% no-repeat;
  }
  &:before {
    background: url(../../images/entry/bg-m.png) 50% 0% no-repeat;
    opacity: 0.55;
  }

  @media (min-width: 640px) {
    &:after {
      background: url(../../images/bg.png) 50% 10% no-repeat;
    }
    &:before {
      background: url(../../images/entry/bg.png) 50% 0% no-repeat;
    }
  }

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 10;
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: 640px) {
      padding-top: 90px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        height: 100%;
        bottom: 0;
        width: 50%;
      }

      &:before {
        background: url(../../images/entry/girl_1.png) center left no-repeat;
        left: -65px;
      }

      &:after {
        background: url(../../images/entry/girl_2.png) center right no-repeat;
        right: -55px;
      }
    }

    @media (min-width: 960px) {
      padding-bottom: 125px;

      &:before,
      &:after {
        bottom: -45px;
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }
  }

  &_header {
    margin-bottom: 25px;
    @media (min-width: 640px) {
      margin-bottom: 35px;
    }

    @media (min-width: 960px) {
      margin-bottom: 44px;
    }
    h4 {
      color: $white;
      font-weight: 300;
      font-size: 18px;

      @media (min-width: 640px) {
        font-size: 28px;
        margin-bottom: 10px;
      }

      @media (min-width: 960px) {
        font-size: 34px;
        margin-bottom: 15px;
      }
    }

    h1 {
      color: $white;
      font-weight: bold;
      line-height: 1;
      font-size: 48px;
      margin-bottom: 20px;

      @media (min-width: 640px) {
        font-size: 68px;
      }

      @media (min-width: 960px) {
        margin-bottom: 28px;
        font-size: 82px;
      }
    }

    hr {
      display: block;
      margin: 0 auto;
      outline: 0;
      border: 0;
      height: 4px;
      background-color: $white;
      width: 100%;

      @media (min-width: 640px) {
        width: 350px;
      }

      @media (min-width: 960px) {
        width: 460px;
      }
    }
  }

  &_main {
    margin-bottom: 18px;

    @media (min-width: 640px) {
      margin-bottom: 24px;
    }
    @media (min-width: 960px) {
      margin-bottom: 40px;
    }

    p {
      color: $white;
      text-transform: uppercase;
      margin-bottom: 14px;

      &.text-size--big {
        font-weight: bold;
        font-size: 24px;
        span {
          font-size: 32px;
        }

        @media (min-width: 640px) {
          font-size: 30px;
          span {
            font-size: 40px;
          }
        }

        @media (min-width: 960px) {
          font-size: 36px;

          span {
            font-size: 48px;
          }
        }
      }

      @media (min-width: 640px) {
        margin-bottom: 16px;
      }
    }
  }

  &_footer {
    display: flex;
    z-index: 10;
    position: relative;
    width: calc(100% - 30px);
    flex-direction: column;

    .btn {
      width: 100%;
      margin-bottom: 15px;
      margin-left: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @media (min-width: 640px) {
      width: 460px;
      flex-direction: row;

      .btn {
        width: 220px;
        font-size: 14px;
        margin-bottom: 0;
        margin-left: 20px;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    @media (min-width: 960px) {
      width: 560px;
      .btn {
        width: 260px;
      }
    }
  }
}
