.sizes {
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(../../images/bg.png) center 80% no-repeat;
  @media (min-width: 960px) {
    padding-bottom: 50px;
  }

  &_container {
    z-index: 10;

    @media (max-width: 960px) {
      max-width: 640px;
    }
  }

  &_header {
    margin-bottom: 14px;

    h2 {
      width: 100%;
      color: #1e1e1e;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 16px;
      font-size: 20px;

      @media (min-width: 640px) {
        padding-bottom: 18px;
        font-size: 28px;
      }

      @media (min-width: 960px) {
        font-size: 36px;
        padding-bottom: 22px;
      }
    }
  }

  &_main {
    background-color: $white;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    padding-bottom: 15px;

    @media (min-width: 640px) {
      padding: 25px;
    }
    @media (min-width: 960px) {
      padding: 30px;
    }
    table {
      width: 100%;
    }
    tr {
      color: $black;
      font-size: 10px;
      padding: 12px 8px;
      display: flex;
      align-items: center;

      @media (min-width: 640px) {
        padding-left: 25px;
        padding-top: 14px;
        padding-bottom: 14px;
        font-size: 13px;

        &:first-of-type {
          td:nth-of-type(2) {
            width: 25%;
            text-align: left;
          }
        }
      }

      @media (min-width: 960px) {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 30px;
        font-size: 14px;
      }

      td {
        text-align: center;
        width: 15%;

        &:first-of-type {
          width: 20%;
          text-align: left;
        }

        @media (min-width: 640px) {
          &:first-of-type {
            width: 25%;
          }
        }

        @media (min-width: 960px) {
          width: 102px;
        }
      }

      &:nth-of-type(odd) {
        background-color: $grey;
      }

      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) td:first-of-type,
      &:nth-of-type(4) td:first-of-type,
      &:nth-of-type(5) td:first-of-type {
        font-weight: bold;
      }
    }
  }
}
